<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Clients</title>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Банк</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/client/all}">Клиенты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/branch/all}">Отделения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/loan/new}">Новый кредит</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/deposit/new}">Новый депозит</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/loan/expired}">Просроченные кредиты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/atm/new}">Внесение средств</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/stats}">Статистика</a>
                </li>
            </ul>
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <input type="submit"  class="form-control me-2" value="Выйти"/>
                </form>
            </div>
        </div>
    </div>
</nav>
<div style="padding: 50px; width: 50%">
<p class="h2">Lorem ipsum</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu auctor mauris, non ornare lectus. Integer ut auctor orci. Fusce dapibus mollis ullamcorper. Maecenas non arcu dignissim libero placerat auctor a eu leo. Nam elementum nec ipsum eget viverra. Nullam vulputate ornare maximus. Etiam consectetur vulputate ante sit amet placerat. Suspendisse hendrerit, lacus a condimentum pretium, est eros efficitur turpis, nec tempor dui lectus eget lacus. Sed ultricies sodales massa. In neque purus, lacinia non dui sed, sagittis viverra velit. Sed mattis nec justo et interdum. Quisque commodo, elit in maximus euismod, tortor odio aliquet libero, in luctus nisi tortor quis risus. Nullam eu luctus nibh. Curabitur sit amet nisi sed tellus suscipit suscipit at sit amet ex.

    Donec commodo accumsan odio et feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in sapien pulvinar, scelerisque sem eget, condimentum nisl. Donec ante felis, dapibus quis vestibulum eget, ultrices nec erat. Proin imperdiet neque elit, non fringilla odio pretium ac. Nulla ac ullamcorper ex. Pellentesque dignissim lobortis facilisis. Nulla non arcu commodo, pretium risus a, tincidunt diam. Sed non ex vel ipsum condimentum gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in metus vitae lacus egestas ornare. Phasellus.</p>
</div>
</body>
</html>